.itemCount {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "minus count plus"
    ". sum .";
    align-items: baseline; 
    padding: 0.2vh;
    color: white;
}


.plus {
    grid-area: plus;
    background-color: transparent;
    border: none;
}

.minus {
    grid-area: minus;
    background-color: transparent;
    border: none
}

.itemCantidad {
    padding: 1vh;
    grid-area: count;
}

.itemAdd {
    grid-area: sum;
    justify-items: center;
}

