.itemCount {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "minus count plus"
    ". sum .";
    align-items: baseline; 
    padding: 0.2vh;
    background-color: rgb(29, 29, 29);
    color: white;
}


.plus {
    grid-area: plus;
    background-color: transparent;
    border: none;
}

.minus {
    grid-area: minus;
    background-color: transparent;
    border: none;
}

.itemCantidad {
    padding: 1vh;
    grid-area: count;
}

.itemAdd {
    font-family: 'Roboto', sans-serif;
    grid-area: sum;
    justify-items: center;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.288);
    border:none;
    color: #fbbd08;
}

