#itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    
    .item {
        font-family: 'Roboto', sans-serif;
        h2 {
            font-family: 'Roboto', sans-serif;
            padding: 5px;
            }
        .precio {
            font-size: 20px;
        }    
    }
}



