#itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    
    .item {
        font-family: 'Quicksand', sans-serif;
        h2 {
            font-family: 'Quicksand', sans-serif;
            padding: 5px;
//            font-size: vh;
            }
        .precio {
            font-size: 20px;
        }    
        //img {
        //    max-height: 200px;
        //    width: auto;
        //    max-width: 80%;
        //}
    }
}



